---
layout: default

title: null
namespace: home
permalink: /
---

<section class="container my-4">
  <h1>Documentation</h1>
  <table class="table">
    <thead>
    </thead>
    <tbody>
      {% for i in site.data._list %}
      <tr class="">
        <td></td>
        <td>{{i.title}} {% for l in i.languages %}<span>(<a href="{{site.site_url}}/d/{{i.slug}}-{{l}}">{{l}}</a>) </span>{% endfor %}</td>
        <td><i class="fas fa-print"></i> {% for l in i.languages %}<span>(<a href="{{site.site_url}}/print/{{i.slug}}-{{l}}">{{l}}</a>) </span>{% endfor %}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </section>
