<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<link rel="apple-touch-icon" sizes="180x180" href="https://unpkg.com/mv-styleguide/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://unpkg.com/mv-styleguide/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://unpkg.com/mv-styleguide/favicons/favicon-16x16.png">
<link rel="manifest" href="https://unpkg.com/mv-styleguide/favicons/site.webmanifest">
<link rel="mask-icon" href="https://unpkg.com/mv-styleguide/favicons/safari-pinned-tab.svg" color="#212121">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#db0030">

<!-- Font -->

<!-- CSS -->
<link rel='stylesheet' href='https://unpkg.com/@valais-media-library/mv-styleguide/css/base.css'>
<link rel='stylesheet' href='https://unpkg.com/@valais-media-library/mv-styleguide/css/vendors.min.css'>

<!-- JS -->
<script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
<script src='https://unpkg.com/@valais-media-library/mv-styleguide/js/vendors.min.js'></script>
<script src='https://unpkg.com/@valais-media-library/mv-web-components/dist/mv-web-components.js'></script>
