<head>
	<title>{% if page.meta.title %}{{ page.meta.title }} | {{ site.title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<!-- CSS -->
	<!--<link rel='stylesheet' href='https://unpkg.com/@valais-media-library/mv-styleguide@1.0.0/css/base.css'>-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">

	<!-- JS -->
	<script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
	<script src='https://use.fontawesome.com/releases/v5.0.7/js/all.js'></script>

	<!-- Inline CSS -->
	<style>
		.mv-doc-header {
			padding: 1.5rem 2.5rem;
			background-color: #f2f2f2;
		}
		.mv-doc-header-qr {
			text-align: center;
		}

		body {
			counter-reset: mv-doc-section;
		}

		.mv-doc-section-heading.mv-doc-numbered {
			counter-increment: mv-doc-section;
		}

		.mv-doc-section-heading.mv-doc-numbered:before {
			content: counter(mv-doc-section) " ";
			font-weight: bold;
			font-size: 5rem;
		}

		.mv-doc-section {
			counter-reset: mv-doc-step;
		}
		.mv-doc-section {
			padding: 1rem 0rem;
			display: flex;
			flex-flow: column nowrap;
			/*border-bottom: 2px solid black;*/
		}

		.mv-doc-step {
			margin-left: 3rem;
		}

		.mv-doc-step {
			counter-increment: mv-doc-step;
		}

		.mv-doc-step p:before {
			content: counter(mv-doc-step) " ";
		}

		.mv-doc-option p {
			counter-increment: mv-doc-step;
		}

		.mv-doc-option p:before {
			content: "Option " counter(mv-doc-step, upper-alpha) " : ";
			font-weight: bold;
		}

		.mv-doc-step p::before,
		.mv-doc-option p::before {
			font-weight: bold;
			font-size: 1.5rem;
		}

		.mv-doc-note {
			background-color: #34343d;
			color: #ffffff;
			padding: 1rem 2.5rem;
			margin: 1rem 0;
		}

		.mv-doc-note p {
			margin-bottom: 0;
		}

		.mv-doc-image {
			max-width: 100%;
			max-height: 250px;
			margin-bottom: .5rem;
			display: block;
			margin: 0 auto;
		}

		html {
			font-size: 12px;
		}

		.mv-doc-section-heading,
		.mv-doc-section-item,
		.mv-doc-note,
		img {
			break-before: auto;
			break-after: auto;
			break-inside: avoid;
		}
		img {
			max-height: 200px;
		}

		@page {
			size: A4;
			margin: 2cm 2cm 2cm 2cm;
			@top-left {
				content: "{{site.author}}";
			}
			@top-center {
				content: "";
			}
			@top-right {
				content: "{{page.meta.title}}";
			}
			@bottom-center {
				content: counter(page);
			}
		}

		@page:first {
			@top-left {
				content: " " url("{{site.site_url}}/assets/logo-mv-horizontal-noir-print.png");
			}
		}

		@page:blank {
			@top-left-corner{ content: none; }
			@top-left{ content: none; }
			@top-center{ content: none; }
			@top-right{ content: none; }
			@top-right-corner{ content: none; }
			@right-top{ content: none; }
			@right-middle{ content: none; }
			@right-bottom{ content: none; }
			@bottom-right-corner{ content: none; }
			@bottom-right{ content: none; }
			@bottom-center{ content: none; }
			@bottom-left{ content: none; }
			@bottom-left-corner{ content: none; }
			@left-bottom{ content: none; }
			@left-middle{ content: none; }
			@left-top{ content: none; }
		}

	/* CSS for Paged.js interface */

	/* Change the look */
	:root {
		--color-background: whitesmoke;
		--color-pageBox: #666;
		--color-paper: white;
		--color-marginBox: transparent;
	}

	/* To define how the book look on the screen: */
	@media screen {
		body {
			background-color: var(--color-background);
		}

		.pagedjs_pages {
			display: flex;
			width: calc(var(--pagedjs-width) * 2);
			flex: 0;
			flex-wrap: wrap;
			margin: 0 auto;
		}

		.pagedjs_page {
			background-color: var(--color-paper);
			box-shadow: 0 0 0 1px var(--color-pageBox);
			margin: 0;
			flex-shrink: 0;
			flex-grow: 0;
			margin-top: 10mm;
		}

		.pagedjs_first_page {
			margin-left: var(--pagedjs-width);
		}

		.pagedjs_page:last-of-type {
			margin-bottom: 10mm;
		}

		/* show the margin-box */

		.pagedjs_margin-top-left-corner-holder,
		.pagedjs_margin-top,
		.pagedjs_margin-top-left,
		.pagedjs_margin-top-center,
		.pagedjs_margin-top-right,
		.pagedjs_margin-top-right-corner-holder,
		.pagedjs_margin-bottom-left-corner-holder,
		.pagedjs_margin-bottom,
		.pagedjs_margin-bottom-left,
		.pagedjs_margin-bottom-center,
		.pagedjs_margin-bottom-right,
		.pagedjs_margin-bottom-right-corner-holder,
		.pagedjs_margin-right,
		.pagedjs_margin-right-top,
		.pagedjs_margin-right-middle,
		.pagedjs_margin-right-bottom,
		.pagedjs_margin-left,
		.pagedjs_margin-left-top,
		.pagedjs_margin-left-middle,
		.pagedjs_margin-left-bottom {
			box-shadow: 0 0 0 1px inset var(--color-marginBox);
		}

		/* uncomment this part for recto/verso book : ------------------------------------ */


		.pagedjs_pages {
			flex-direction: column;
			width: 100%;
		}

		.pagedjs_first_page {
			margin-left: 0;
		}

		.pagedjs_page {
			margin: 0 auto;
			margin-top: 10mm;
		}


		/*--------------------------------------------------------------------------------------*/



		/* uncomment this par to see the baseline : -------------------------------------------*/

		/*
		.pagedjs_pagebox {
				--pagedjs-baseline: 11px;
				--pagedjs-baseline-position: -4px;
				--pagedjs-baseline-color: cyan;
				background: linear-gradient(var(--color-paper) 0%, var(--color-paper) calc(var(--pagedjs-baseline) - 1px), var(--pagedjs-baseline-color) calc(var(--pagedjs-baseline) - 1px), var(--pagedjs-baseline-color) var(--pagedjs-baseline)), transparent;
				background-size: 100% var(--pagedjs-baseline);
				background-repeat: repeat-y;
				background-position-y: var(--pagedjs-baseline-position);
		}
		*/

		/*--------------------------------------------------------------------------------------*/
		}
	}

	</style>
</head>
