<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{site.lang}}" lang="{{site.lang}}" dir="ltr">

{% include head-default.html %}

<body>

	<header>
		<mv-app-nav app-root-url="{{site.site_url}}" help-url='{{site.site_url}}/help' nav='[{"name": {"fr": "Accueil", "de": "Home", "en": "Home"}, "url": "{{site.site_url}}"}]'></mv-app-nav>
	</header>
	<main>
		{{ content }}
	</main>
	{% include footer.html %}

</body>
</html>
