<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{site.lang}}" lang="{{site.lang}}" dir="ltr">

{% include head-print.html %}

<body>
	<main>
		<div class="mv-doc mb-4">
			<section class="mv-doc-header">
				<div class="row">
					<div class="col-sm-9">
						<h1>{{page.meta.title}}</h1>
						<p>{{page.meta.subTitle}}</p>
						<p class="text-small">Mis à jour le {{page.meta.update | date: '%d.%m.%Y'}} / {{page.meta.signature}}</p>
					</div>
					<div class="col-sm-3 mv-doc-header-qr">
						<img src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&margin=1&data={{site.site_url}}/d/{{page.meta.slug}}" alt="Qr code">
					</div>
				</div>
			</section>
			{% for s in page.sections %}
			<section class="mv-doc-section my-4">
				<div>
					<h2 class="mv-doc-section-heading{% if s.isNumbered %} mv-doc-numbered{% endif %}">{{s.heading}}</h2>
					{{s.text | markdownify}}
				</div>
				{% for st in s.steps %}
				<div class="mv-doc-section-item">
					<div class="{% if st.isNote == false and st.isOption == false %}mv-doc-step{% endif %}{% if st.isNote %}mv-doc-note{% endif %}{% if st.isOption %}mv-doc-option{% endif %}">
						{% if st.heading and st.heading != '' %}<h3 class="mv-doc-note-heading h4">{{st.heading}}</h3>{% endif %}
						{% if st.isNote and st.icon %}
						<div class="row">
							<div class="col-sm-1" style="align-self: center;"><i class="fas fa-2x fa-{{st.icon}}"></i></div>
							<div class="col-sm-11" style="align-self: center;">{{st.text | markdownify}}</div>
						</div>
						{% else %}
						{% if st.text != '' %}{{st.text | markdownify}}{% endif %}
						{% endif %}
						{% if st.image != '' %}<img class="mv-doc-image" src="{{site.site_url}}/assets/{{st.image}}" alt="Image de: {{st.text}}"/>{% endif %}
					</div>
				</div>
				{% endfor %}
			</section>
			{% endfor %}
		</div>
	</main>
</body>
</html>
