<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{site.lang}}" lang="{{site.lang}}" dir="ltr">

{% include head-documentation.html %}

<body>

	<header>
		<mv-app-nav app-root-url="{{site.site_url}}" help-url='{{site.site_url}}/help' nav='[{"name": {"fr": "Accueil", "de": "Home", "en": "Home"}, "url": "{{site.site_url}}"}]'></mv-app-nav>
	</header>
	<main>
		<div class="mv-doc mb-4">
			<section class="introduction bg-gray-100">
				<div class="container">
					<h1>{{page.meta.title}}</h1>
					<p>{{page.meta.subTitle}}</p>
				</div>
			</section>
			{% for s in page.sections %}
			<section class="mv-doc-section container my-4">
				<div>
					<h2 class="mv-doc-section-heading{% if s.isNumbered %} mv-doc-numbered{% endif %}">{{s.heading}}</h2>
					{{s.text | markdownify}}
				</div>
				{% for st in s.steps %}
				<div class="mv-doc-section-item">
					<div class="{% if st.isNote == false and st.isOption == false %}mv-doc-step{% endif %}{% if st.isNote %}mv-doc-note{% endif %}{% if st.isOption %}mv-doc-option{% endif %}">
						{% if st.heading != '' %}<h3 class="mv-doc-note-heading h4">{{st.heading}}</h3>{% endif %}
						{% if st.isNote and st.icon %}
						<div class="row">
							<div class="col-1 align-self-center"><i class="fas fa-2x fa-{{st.icon}}"></i></div>
							<div class="col-11 align-self-center">{{st.text | markdownify}}</div>
						</div>
						{% else %}
						{% if st.text != '' %}{{st.text | markdownify}}{% endif %}
						{% endif %}
						{% if st.image != '' %}<img class="mv-doc-image" src="{{site.site_url}}/assets/{{st.image}}" alt="Image de: {{st.text}}"/>{% endif %}
					</div>
				</div>
				{% endfor %}
			</section>
			{% endfor %}
			<section class="container">
				<p>{{page.meta.type}} mis à jour le {{page.meta.update | date: '%d.%m.%Y'}} / {{page.meta.signature}}</p>
			</section>
		</div>
	</main>
	{% include footer.html %}
</body>
<style>
.mv-doc {
	counter-reset: mv-doc-section;
}

.mv-doc-section-heading.mv-doc-numbered::before {
	counter-increment: mv-doc-section;
	content: counter(mv-doc-section) " ";
	font-weight: bold;
	font-size: 5rem;
}

.mv-doc-section {
	counter-reset: mv-doc-step;
}
.mv-doc-section {
	padding: 2rem 8rem;
	display: flex;
	flex-flow: column nowrap;
}

.mv-doc-section:nth-of-type(3n+1) {
	background-color : white;
}

.mv-doc-section:nth-of-type(3n+2) {
	background-color : var(--color-secondary);
}

.mv-doc-section:nth-of-type(3n+3) {
	background-color : var(--color-tertiary);
	color: white;
}

.mv-doc-step {
	margin-left: 3rem;
}

.mv-doc-step p::before {
	counter-increment: mv-doc-step;
	content: counter(mv-doc-section) "." counter(mv-doc-step) " ";
}

.mv-doc-option p::before {
	counter-increment: mv-doc-step;
	content: "Option " counter(mv-doc-step, upper-alpha) " : ";
	font-weight: bold;
}

.mv-doc-step p::before,
.mv-doc-option p::before {
	font-weight: bold;
	font-size: 1.5rem;
}

.mv-doc-note {
	background-color: var(--color-black-light);
	color: #ffffff;
	padding: 1rem 2.5rem;
	margin: 2rem 0;
}

.mv-doc-note p {
	margin-bottom: 0;
}

.mv-doc-image {
	max-width: 100%;
	max-height: 250px;
	margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
	.mv-doc-section-heading.mv-doc-numbered::before {
		font-size: 2.5rem;
	}
	.mv-doc-section {
		padding: 1rem 1.5rem;
		display: flex;
		flex-flow: column nowrap;
	}
}

</style>
</html>
